.grid-overlay {
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.65), black 120%);
  border: 15px solid rgb(86, 99, 84);
  border-radius: 10px;
  width: 759px;
  padding-top: 27px;
}
